.cont {
  position:absolute;
  height:100%;
  width:100%;
  background: -webkit-linear-gradient(90deg, #C04848 10%, #480048 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #C04848 10%, #480048 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #C04848 10%, #480048 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #C04848 10%, #480048 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #C04848 10%, #480048 90%); /* W3C */
}

.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png)repeat top center;
  z-index:0;
}

.interface {
  overflow:hidden;
  height:80%;
  width:80%;
  position:absolute;
  top:10%;
  left:10%;
  opacity:0.9;
}
.topBar {
  background:#eef2f3;
  width:100%;
}
