.button{
  height: 20px;
  width: 20px;
  top: 570px;
  left: 650px;
  position: absolute;
  background-color: #a7babe;
  z-index: 1;
}

.button1{
  height: 10px;
  width: 50px;
  top: 64;
  left: 540px;
  position: absolute;
  background-color: #dddddd;
  z-index: 2;
}
