.button {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    
}

@media only screen and (max-width: 400px) {
    
    .button {
        background-color: purple;
    }
}
